{% extends 'base/base.html.twig' %}

{% block title %}Films par acteur{% endblock %}

{% block body %}
    <h1>Film(s) de l'acteur {{ actor.firstName }} {{ actor.lastName }}</h1>
    {% for movie in movies %}
        <h3>{{ movie.name }}</h3>
    {% endfor %}
{% endblock %}
